<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Parkingsize" value="4"/>
		<add key="Bikesize" value="1"/>
		<add key="MCsize" value="2"/>
		<add key="CARsize" value="4"/>
		<add key="BUSsize" value="8"/>
		<add key="GARAGEsize" value="100"/>
		<add key="PricePerHourCAR" value="10"/>
		<add key="PricePerHourMC" value="5"/>
		<add key="PricePerHourBIKE" value="5"/>
		<add key="PricePerHourBUS" value="40"/>	 
		<add key="FreeParkingTimeMinutes" value="10"/>
	</appSettings>
</configuration>